<style>
    .custom-card{
        padding: 5%;
        background-color: #99DAEE;
    }
    .custom-card > *{
        text-align: center;
    }
</style>

<div class="container">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card custom-card">
                <h5>Totoal Posts</h5>
                <h6>4</h6>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card custom-card">
                <h5>Totoal Users</h5>
                <h6>7</h6>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card custom-card">
                <h5>Totoal Posts</h5>
                <h6>4</h6>
            </div>
        </div>
    </div>
</div>
