<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header text-center">Create a Category</div>
      <div class="card-body">
        <form action="/admin/categorys/edit/{{category._id}}?_method=PUT" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">name</label>
            <input class="form-control" name="name" id="name" type="text" placeholder="Enter Category name" value="{{category.name}}">
          </div>
          <button type="submit" class="btn btn-info float-right">Submit</button>
        </form>
      </div>
    </div>
</div>