<style>
    .admin-pic{
        border: 1px solid #ccc;
        width: 250px; height:250px;
        border-radius: 50%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12 text-center m-2">
            <img src="{{admin.profile_pic}}" class="admin-pic">
        </div>
        <div class="col-12 text-center m-2">
            <p style="text-align: justify;">
                Colby Lopez (born May 28, 1986) is an American professional wrestler currently signed to WWE, where he performs on the Raw brand under the ring name Seth Rollins.

Lopez signed with WWE in 2010 and was sent to its developmental territory Florida Championship Wrestling (FCW) where he was renamed Seth Rollins and became the inaugural FCW Grand Slam Champion. After WWE rebranded FCW into NXT, he became the inaugural NXT Champion. Alongside Dean Ambrose and Roman Reigns, he debuted on WWE's main roster at the 2012 Survivor Series as part of a faction called The Shield. He won his first main roster championship while with the group, the WWE Tag Team Championship with Reigns. Following the team's first breakup in June 2014, Rollins went on to become a two-time WWE Champion, two-time Universal Champion, two-time Intercontinental Champion, one-time United States Champion, record six-time WWE/Raw Tag Team Champion (with Reigns, Ambrose (twice), Jason Jordan, Braun Strowman and Buddy Murphy/Murphy), the 2014 Money in the Bank winner, the 2015 Superstar of the Year and the 2019 Men's Royal Rumble winner.

Prior to signing with WWE, Lopez wrestled under the ring name Tyler Black for Ring of Honor (ROH), where he held the ROH World Championship once and the ROH World Tag Team Championship twice (with Jimmy Jacobs), as well as the winner of the 2009 Survival of the Fittest tournament. He also wrestled for various independent promotions including Full Impact Pro (FIP), where he was a one-time FIP World Heavyweight Champion, as well as Pro Wrestling Guerrilla (PWG), where he was a one-time PWG World Tag Team Champion (also with Jacobs).
            </p>
        </div>
    </div>
</div>